* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: limegreen;
}

.logo {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 150px;

}

main {
    width: 375px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select {
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    background: #FFFFFF;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

input {
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    background: #FFFFFF;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

button {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background-color: #772fd3;
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    margin: 12px 0;
}

.caixa-conversao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda {
font-weight: 400;
size: 14px;
color: #777777;
}

.valor-conversao, .valor-convertido {
    font-weight: 700;
    font-size: 20px;
    color: #555555;
    }